/* Import Google Fonts and set global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Set the background and container styles */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #02233a, #480961);
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 20px 80px;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
}

/* Style the title and section separator */
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #02233a, #480961);
}
.submitted-data-container{
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 20px 20px;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
}
/* Style the user details form section */
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #8a0ebb;
}

/* Style the gender details section */
form .gender-details {
  display: flex;
  margin: 20px 0;
}

form .gender-details .gender-title {
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
 
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .custom-radio {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .custom-radio,
#dot-2:checked~.category label .custom-radio,
#dot-3:checked~.category label .custom-radio {
  background: #630886;
  border-color: #d9d9d9;
}

/* Hide the default radio input */



/* Style the submit button */
form .button {
  height: 45px;
  margin: 35px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #02233a, #480961);
}

form .button input:hover {
  background: linear-gradient(-135deg, #02233a, #480961);
}

/* Media queries for responsive design */
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

.submitted-data-container {
  margin: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}



table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}


.table-scroll-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #000000; 
}

.MuiTableCell-root {
  border: 1px solid #ccc;
}
@media (max-width: 600px) {
  .MuiTableContainer-root {
    overflow-x: auto;
  }
  
  .MuiTableCell-head {
    font-size: 14px;
  }
  
  .MuiTableCell-body {
    font-size: 14px;
  }
}

/* ...Link ... */

.link {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.link a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1f86c8;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.link a:hover {
  background-color: #155a8a;
}
